body {

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 13% 13%, rgba(255, 249, 230, 1) 0%, rgba(255, 239, 192, 1) 37%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 13% 13%, rgba(255, 249, 230, 1) 0%, rgba(255, 239, 192, 1) 37%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 13% 13%, rgba(255, 249, 230, 1) 0%, rgba(255, 239, 192, 1) 37%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 13% 13%, rgba(255, 249, 230, 1) 0%, rgba(255, 239, 192, 1) 37%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 13% 13%, rgba(255, 249, 230, 1) 0%, rgba(255, 239, 192, 1) 37%);

}

.grad--purple{

    /* ff 3.6+ */
    background:-moz-linear-gradient(90deg, rgba(93, 24, 143, 1) 0%, rgba(133, 33, 88, 1) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(90deg, rgba(93, 24, 143, 1) 0%, rgba(133, 33, 88, 1) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(90deg, rgba(93, 24, 143, 1) 0%, rgba(133, 33, 88, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#852158', endColorstr='#5D188F', GradientType=0 );

    /* ie 10+ */
    background:-ms-linear-gradient(90deg, rgba(93, 24, 143, 1) 0%, rgba(133, 33, 88, 1) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(90deg, rgba(93, 24, 143, 1) 0%, rgba(133, 33, 88, 1) 100%);

}

.scaleAnimation {
    transition: transform .1s ease-in-out;
}

.scaleAnimation:hover {
    transform: scale(1.05);
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  

  .scale-in-center {
    -webkit-animation: scale-in-center 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: scale-in-center 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
