body {

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 13% 13%, rgba(255, 249, 230, 1) 0%, rgba(255, 239, 192, 1) 37%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 13% 13%, rgba(255, 249, 230, 1) 0%, rgba(255, 239, 192, 1) 37%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 13% 13%, rgba(255, 249, 230, 1) 0%, rgba(255, 239, 192, 1) 37%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 13% 13%, rgba(255, 249, 230, 1) 0%, rgba(255, 239, 192, 1) 37%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 13% 13%, rgba(255, 249, 230, 1) 0%, rgba(255, 239, 192, 1) 37%);

}

.grad--purple{

    /* ff 3.6+ */
    background:-moz-linear-gradient(90deg, rgba(93, 24, 143, 1) 0%, rgba(133, 33, 88, 1) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(90deg, rgba(93, 24, 143, 1) 0%, rgba(133, 33, 88, 1) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(90deg, rgba(93, 24, 143, 1) 0%, rgba(133, 33, 88, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#852158', endColorstr='#5D188F', GradientType=0 );

    /* ie 10+ */
    background:-ms-linear-gradient(90deg, rgba(93, 24, 143, 1) 0%, rgba(133, 33, 88, 1) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(90deg, rgba(93, 24, 143, 1) 0%, rgba(133, 33, 88, 1) 100%);

}

.grad--black{

    /* ff 3.6+ */
    background:-moz-radial-gradient(ellipse at 6% 0%, rgba(55, 63, 70, 1) 0%, rgba(14, 14, 16, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(ellipse at 6% 0%, rgba(55, 63, 70, 1) 0%, rgba(14, 14, 16, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(ellipse at 6% 0%, rgba(55, 63, 70, 1) 0%, rgba(14, 14, 16, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(ellipse at 6% 0%, rgba(55, 63, 70, 1) 0%, rgba(14, 14, 16, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(ellipse at 6% 0%, rgba(55, 63, 70, 1) 0%, rgba(14, 14, 16, 1) 100%);

}